h1 {
    color: blue;
    width: 300px;
    margin: auto;
    margin-top: 250px;
}
h2 {
    color: rgb(135, 239, 255);
    margin: auto;
}
h2.red {
    color: red;
    margin: auto;
}
a {
   font-size: 50px;
   margin: auto;
}
